<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Billofmaterias</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
	<div class="container my-5">
		<h2>Bill of material</h2>
		<div class="row">
			<p class="mr-5">
				<a href="/" class="btn btn-primary"> <i class="fas fa-book-open">
						Menu </i>
				</a>
			</p>
			<p>
				<a href="/billofmaterials/add" class="btn btn-primary"> <i
					class="fas fa-user-plus ml-2"> Add new Billofmaterial! </i>
				</a>
			</p>
		</div>



		<h3 th:if="${billofmaterials.iterator().hasNext() == false}">
			There are no billofmaterials</h3>
		<table class="table table-striped table-responsive-md"
			th:if="${billofmaterials.iterator().hasNext() == true}">
			<thead>
				<tr>
					<th>Id</th>
					<th>Product</th>
					<th>Bom level</th>
					<th>Edit</th>
					<th>Delete</th>
					<th>Information</th>
				</tr>
			</thead>
			<tbody>
				<tr class="align-items-center"
					th:each="billofmaterial : ${billofmaterials}"
					th:value="${billofmaterial}">
					<td th:text="${billofmaterial.billofmaterialsid}"></td>
					<td><a
						th:text="${billofmaterial.product1.productid} + ': ' + ${billofmaterial.product1.name}"
						th:href="@{/products/{id}(id=${billofmaterial.product1.productid})}">
					</a></td>
					<td><a th:text="${billofmaterial.bomlevel}"> </a></td>


					<td><a
						th:href="@{/billofmaterials/edit/{id}(id=${billofmaterial.billofmaterialsid})}">
							<i class="fas fa-user-edit"></i>
					</a></td>
					<td><a
						th:href="@{/billofmaterials/delete/{id}(id=${billofmaterial.billofmaterialsid})}">
							<i class="fas fa-user-times"></i>
					</a></td>
					<td><a
						th:href="@{/billofmaterials/{id}(id=${billofmaterial.billofmaterialsid})}">
							<i class="far fa-eye"></i>
					</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>